#apt-get install libmysqlclient-dev
#apt-get install python-dev
Django==1.8.4
#MySQL-python==1.2.5
South==1.0
dj-static==0.0.5
django-filter==0.7
Pillow==2.5.3
django-toolbelt
django-mathfilters
psycopg2-binary
-e git+https://github.com/django-tastypie/django-tastypie@604e4ac97046773625c99ae43dd1c1df1b4d39af#egg=django_tastypie-master
git+https://github.com/hansonkd/django-impersonate.git
django-widget-tweaks # add css class in template
django-activelink
