{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>{% block head_title %} {% endblock %}</title>

        {% block templatetags %} {% endblock %}     
        {% block css_content %}
        {% endblock %}  
        <meta name="description" content="User login page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}" />
        <link rel="stylesheet" href="{% static "assets/css/font-awesome.css" %}"/>

        <!-- text fonts -->
        <link rel="stylesheet" href="{% static "assets/css/ace-fonts.css" %}" />

        <!-- ace styles -->
        <link rel="stylesheet" href="{% static "assets/css/ace.css" %}" />

        <!--[if lte IE 9]>
            <link rel="stylesheet" href="{% static "assets/css/ace-part2.css" %}"/>
        <![endif]-->
        <link rel="stylesheet" href="{% static "assets/css/ace-rtl.css" %}"/>
        <link rel="stylesheet" href="{% static "css/custom.css" %}"/>

        <!--[if lte IE 9]>
          <link rel="stylesheet" href="{% static "assets/css/ace-ie.css" %}"/>
        <![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

        <!--[if lt IE 9]>
        <script src="{% static "assets/js/html5shiv.js" %}"></script>
        <script src="{% static "assets/js/respond.js" %}"></script>
        <![endif]-->
        <script src="{% static "assets/js/ace-extra.js" %}"></script>
	</head>
	
	<body>
        {% block header %}{% endblock %}

        {% block body %} {% endblock %}

        {% block footer %} {% endblock %}
        <!--[if !IE]> -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='{% static 'assets/js/jquery.js' %}'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->

        <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='{% static 'assets/js/jquery1x.js'%}'>"+"<"+"/script>");
        </script>
        <![endif]-->
        <script type="text/javascript">
            if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'assets/js/jquery.mobile.custom.js'%}'>"+"<"+"/script>");
        </script>

        <script src="{% static "assets/js/bootstrap.js" %}"></script>
        <!-- page specific plugin scripts -->
        
        <!--[if lte IE 8]>
          <script src="../assets/js/excanvas.js"></script>
        <![endif]-->
        <script src="{% static "assets/js/jquery-ui.custom.js"%}"></script>
        
        <!-- ace scripts -->

        {% block javascript_content %} {% endblock %}


	</body>
</html>
